<!-- index.ejs-->
<div>
    <h1>Welcome to CSE Motors</h1>
    <div id="container">
        <div id="conained_button">
            <h3>DMC Delorean</h3>
            <p>3 Cup Holders<br>Superman doors<br>Fuzzy Dice!</p>
            <img src="/images/site/own_today.png">
        </div>
        <img src="/images/vehicles/delorean.jpg">
    </div>
</div>
<div id="Horizontal_split">
    <div>
        <h2>Delorean Upgrades</h2>
        <div class="image_grid">
            <div class="grid_item">
                <img src="/images/upgrades/bumper_sticker.jpg">
                <a>Bumper stickers</a>
            </div>
            <div class="grid_item">
                <img src="/images/upgrades/flame.jpg">
                <a>Flames</a>
            </div>
            <div class="grid_item">
                <img src="/images/upgrades/flux-cap.png">
                <a>Flux Capacitor</a>
            </div>
            <div class="grid_item">
                <img src="/images/upgrades/hub-cap.jpg">
                <a>Hub Cap</a>
            </div>
        </div>
    </div>
    <div>
        <h2>DMC Delorean Reviews</h2>
        <ul>
            <li>"So fast it's almost like traveling in time." (4/5)</li>
            <li>"Coolest ride on the road." (4/5)</li>
            <li>"I'm feeling McFly!" (5/5)</li>
            <li>"The most futuristic ride of our day."(4.5/5)</li>
            <li>"80's livin and I love it!" (5/5)</li>
        </ul>
    </div>
</div>
<!-- /index.ejs-->