<% if (title) 
{ %>
    <h1><%= title %></h1>
    <%- messages() %>

    <% if (errors) { %>
    <ul class="notice">
    <% errors.array().forEach(error => { %>
    <li><%= error.msg %></li>
    <%  }) %>
    </ul>
    <% } %>

    <div class="form_center_box">
      <div class="form_box">
        <form id="addClassificationForm"  action="/inv/addClassification" method="post">
          <label for="classification_name">Classification Name</label><br>
          <input type="text" id="classification_name" name="classification_name" required placeholder="Only letters and numbers" pattern="^[a-zA-Z0-9]+$" title="Only letters and numbers"><br><br>
          <input type="submit" value="submit">
        </form>
      </div>
    </div>

    <% } else {
      res.redirect('/')
    } %>